/* @import url("https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple"); */

.navbar{
    background: #131313;
    padding: 1rem 8rem;
    z-index: 1000;
}
.navbar .navbar-brand {
    font-size: 1.4rem;
    font-weight: 700;
}
#navbarSupportedContent > ul > li:nth-child(n) > a{
    color: #ffff;
    font-size: 1.1rem;
    padding: 0rem 0.8rem;
}
#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: #00bf85;
}
#navbarSupportedContent > button{
    background: #00bf85;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
}
.mid{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* mid after text diplay flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.mid video{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


}
.hero{
    position: relative;

}
.mid .hero p{
    position: relative;

}
.mid .hero p{
    width: 55%;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    padding: 1.1rem;
}

/* .mid .hero a{
    background: #00bf85;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
} */

.btn1{
    background: #00bf85;
    font-weight: 600;
    height: auto;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
    padding: .6rem;
}
.btn1:hover{
    background-color: rgb(4, 255, 159);
    
}